// All app-related styles are namespaced under .app to prevent collisions with
// eAccounts styles

.app {
  margin: 20px;

  .graph-wrapper {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .graph {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
  }
  .axis-line {
    stroke: rgba($color: white, $alpha: 0.3);
  }
  .gradient-stop {
    stop-color: orange;
  }
  .data-line {
    stroke: orange;
    stroke-width: 2px;
  }
  .axis-label {
    fill: rgba($color: white, $alpha: 0.7);
    text-anchor: middle;
    alignment-baseline: hanging;
  }
  .tick-mark {
    fill: rgba($color: white, $alpha: 0.3);
    text-anchor: end;
    alignment-baseline: middle;
    font-size: 12px;
  }
  .tick-major {
    fill: rgba($color: white, $alpha: 0.5);
  }
}
