// All app-related styles are namespaced under .app to prevent collisions with
// eAccounts styles

.app {
  padding: 20px;

  .graph-wrapper {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .graph {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
  }
  .axis-line {
    stroke: rgba($color: white, $alpha: 0.3);
  }
  .gradient-stop {
    stop-color: orange;
  }
  .data-line {
    stroke: orange;
    stroke-width: 2px;
  }
  .data-gradient {
    fill: url(#gradient);
  }
  .axis {
    color: rgba($color: white, $alpha: 0.7);
  }
  .tooltip-dot {
    fill: white;
  }
  .tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba($color: black, $alpha: 0.3);
    border: 1px solid rgba($color: black, $alpha: 0.5);
    box-sizing: border-box;
    pointer-events: none;
    box-shadow: 0 3px 15px rgba($color: black, $alpha: 0.2);
  }
  .tooltip-amount {
    margin: 0;
  }
  .tooltip-line {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
  }
}
